<div class="d-flex flex-column min-vh-100">

        <footer class="bg-dark text-light py-1 mt-auto w-100">
            <div class="container text-center">
                <p>&copy; 2024 UaiArtigos. Todos os direitos reservados.</p>
                <p>
                    <a href="#" class="text-light">Política de Privacidade</a> |
                    <a href="#" class="text-light">Termos de Uso</a> |
                    <a href="#" class="text-light">Contato</a>
                </p>
            </div>
        </footer>
    </div>